<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
	</startup>
	<appSettings>
<!-- 835 -->
		<add key="api_id" value="26682859"/>
		<add key="api_hash" value="ed26321963e6db5b7c358a2537070a73"/>
        <!--<add key="api_id" value="21485428"/>
        <add key="api_hash" value="d4f9e1dcd9600a00fd2485d433757bf0"/>-->
    </appSettings>
</configuration>
